# Data Science Tools and Ecosystem

In this Jupyter Notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- Popular Data Science Languages
- Commonly Used Data Science Libraries
- Data Science Tools

## Author
Dan S.

Popular languages that Data Scientists use are:
1. Python 
2. R 
3. JavaScript
4. MatLab

Commonly used libraries used by Data Scientists include:
1. Jupyter Notebook
2. Pandas
3. Numpy
4. SciPy

 Data Science Tools |
---------------------|
 Apache Spark |
 Apache Hadoop |
 TensorFlow |

### Below are a few examples of evaluating arithmetic expression in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335